@model RegistrationViewModel


@{
    ViewData["Title"] = "Bee Study | Life-long Learning On A Budget";
}
<html>
<head>
    <title>Bee Study</title>
</head>
<body>
    <div class="container bg-light shadow py-4 px-5">
        <div class="container jumbotron p-3">
            <div class="row justify-content-center">
                <h2 class="col display-5 text-primary text-center"> Life-long learning on a budget</h2>
            </div>
            <div class="row justify-content-center lead">
                <p class="col col-auto text-justify mx-auto">
                    Do you intend to register for a Udemy course but its price is pulling you back? <br />
                    Are you tired of checking Udemy everyday hoping to see your favourite courses on discount? <br />
                    Wasting no more time on checking for a discount. <br />
                    All you need to do is browsing Udemy for your course, grab the course's link and paste it to the below form. <br />
                    We will send you an email every time your course has a price change.
                </p>
            </div>
        </div>
        <div class="container">
            <div class="justify-content-center">
                <form asp-controller="Registration" asp-action="Add" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row justify-content-center">
                        <label class="col col-2 col-form-label mr-0">Course's link</label>
                        <div class="col">
                            <input class="form-control" asp-for="Course.Url" />
                            <span asp-validation-for="Course.Url" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label class="col col-2 col-form-label mr-0">Your Name</label>
                        <div class="col">
                            <input class="form-control" asp-for="Learner.Name" />
                            <span asp-validation-for="Learner.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label class="col col-2 col-form-label mr-0">Your Email</label>
                        <div class="col ">
                            <input class="form-control" asp-for="Learner.Email" />
                            <span asp-validation-for="Learner.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col ">
                            <input type="submit" value="Start Tracking" class="btn btn-info my-2" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>