@{
    ViewData["Title"] = "About Us";
}


<div class="container">
    <div class="text-center my-3">
        <img src="~/Assets/BeeStudyLogoB.png" alt="BeeStudyLogo" class="img-fluid shadow" />
    </div>
    <div class="row">
        <div class="col col-auto text-center">
            <h4> <span class="headline">Bee Study</span> is built based on a personal need: online learning at the lowest possible cost. You are more than welcome to try it out.</h4>
            <h5>All feedbacks and comments are appreciated. Reach <span class="headline">Bee Study</span> at <a href="mailto:bee.study@outlook.com">bee.study@outlook.com</a> </h5>
        </div>
    </div>


</div>
