@{
    ViewData["Title"] = "About Us";
}


<div class="container">
    <div class="text-center my-3">
        <img src="~/Assets/BeeStudyLogoB.png" alt="BeeStudyLogo" class="img-fluid shadow" />
    </div>
    <div class="row">
        <div class="col col-auto text-center">
            <h4 class="headline">Bee Study is a side project based on a personal need: self-learning at the lowest possible cost. Anyone with the same need is welcome to use Bee Study. </h4>
            <h5>All feedbacks and comments are appreciated. Reach Bee Study at <a href="mailto:bee.study.2020@gmail.com">bee.study.2020@gmail.com</a> </h5>
        </div>
    </div>


</div>
