@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>

<div>
    <p>
        Thank you for confirming your email. Please <a asp-page="./Login">click here</a> to log in.
    </p>
</div>