
@{
    ViewData["Title"] = "Not Found";
}

<h2 class="text-danger">The resource you are trying to access is not found. </h2>
<a class="btn btn-outline-info px-3 mr-3" asp-controller="Registration" asp-action="Add">Back to Homepage</a>