
@{
    ViewData["Title"] = "Unauthorized";
}

<h2 class="text-danger">Please register/ log in first to access this page. </h2>
<a class="btn btn-outline-info px-3 mr-3" asp-controller="Registration" asp-action="Add">Back to Homepage</a>