<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bee Study | Tracking a new course confirmation</title>
</head>
<body>
    <p>Hello {0}</p>
    <p> Thank you for using <strong>Bee Study</strong>. We will send a notification to {1} whenever the buyable price of the following course changes.</p>

    <div style="border:thin">
        <h3>{2}</h3>
        <h4>{3}</h4>
        <img src="{4}" />
        <p>List price: CA$ {5}</p>
        <p> <strong>Current price: CA$ {6} </strong></p>
        <p>** This course's price may change at the time you check it out. If you see a different price, try clear your browser's cookies or use {7} in incognito mode.</p>
    </div>

</body>
</html>